<nav>
  <ul class="nav">
    <li class="nav-item" *ngIf="isLoggedIn">
      <a routerLink="/user-dashboard">Dashboard</a>
    </li>
    <li *ngIf="isSuperAdmin">
      <a routerLink="/admin">Admin</a>
    </li>
    <li *ngIf="isGroupAdmin">
      <a routerLink="/group">Groups</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink="/chat">Chat</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a (click)="logout()">Logout</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink="/login">Login</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>